<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.member.DAO.memberCardDAO">

<!-- cardInfo -->
<select id="cardInfo" resultType="com.care.hotel.member.DTO.memberCardDTO">
	SELECT * FROM credit_card WHERE memberId=#{memberId}
</select>

<!-- cardInsert -->
<insert id="cardInsert" parameterType="com.care.hotel.member.DTO.memberCardDTO">
	INSERT INTO credit_card VALUES (#{cardId}, #{memberId}, #{cardCompany}, #{cardNo}, #{validityYyMm}, #{CSV})
</insert>

<!-- cardUpdate -->
<update id="cardUpdate" parameterType="com.care.hotel.member.DTO.memberCardDTO">
	UPDATE credit_card
	SET cardCompany=#{cardCompany}, cardNo=#{cardNo}, validityYyMm=#{validityYyMm}, CSV=#{CSV}
	WHERE cardId=#{cardId}
</update>

<!-- getMaxCardId -->
<select id="getMaxCardId" resultType="Integer">
	SELECT max(cardId) FROM credit_card
</select>

</mapper>