<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.member.DAO.memberDAO">

	<!-- member 테이블 내 row 개수 -->
	<select id="memberCount" resultType="int">
		SELECT count(*) FROM member
		<choose>
				<when test="sel == 'memberId'">
					WHERE memberId like '%'||#{search}||'%'
				</when>
				<when test="sel == 'name'">
					WHERE memberNameKR like '%'||#{search}||'%'
				</when>
				<when test="sel == 'name'">
					WHERE memberNameENG like '%'||#{search}||'%'
				</when>
				<when test="sel == 'mobile'">
					WHERE memberMobile like '%'||#{search}||'%'
				</when>
				<when test="sel == 'email'">
					WHERE memberEmail like '%'||#{search}||'%'
				</when>
			</choose>
	</select>
	<!--  member 테이블 리스트 불러오기 -->
	<select id="memberList" resultType="com.care.hotel.member.DTO.memberDTO">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM( 
				SELECT * FROM member 
				<choose>
					<when test="sel == 'memberId'">
						WHERE memberId like '%'||#{search}||'%'
					</when>
					<when test="sel == 'memberNameKR'">
						WHERE memberNameKR like '%'||#{search}||'%'
					</when>
					<when test="sel == 'memberNameENG'">
						WHERE memberNameENG like '%'||#{search}||'%'
					</when>
					<when test="sel == 'memberMobile'">
						WHERE memberMobile like '%'||#{search}||'%'
					</when>
					<when test="sel == 'memberEmail'">
						WHERE memberEmail like '%'||#{search}||'%'
					</when>
				</choose>
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<!-- memberInfo -->
	<select id="memberInfo" resultType="com.care.hotel.member.DTO.memberDTO">
		SELECT * FROM member WHERE memberId=#{memberId}
	</select>
	
	<!-- memberExInfo -->
	<select id="memberExInfo" resultType="com.care.hotel.member.DTO.memberExDTO">
		SELECT * FROM member_extra WHERE memberId=#{memberId}
	</select>
	
	<!-- memberInsert -->
	<insert id="memberInsert" parameterType="com.care.hotel.member.DTO.memberDTO">
		INSERT INTO member VALUES(#{memberId}, #{memberNameKR}, #{memberNameENG}, #{memberBirth}, #{memberMobile}, #{memberEmail}, #{memberPw}, #{memberGender} ) 
	</insert>
	
	<!-- memberExInsert -->
	<insert id="memberExInsert" parameterType="com.care.hotel.member.DTO.memberExDTO">
		INSERT INTO member_extra VALUES(#{memberId}, #{memberZipcode}, #{memberAddr1}, #{memberAddr2}, #{memberHomePhone} ) 
	</insert>
	
	<!-- memberUpdate -->
	<update id="memberUpdate" parameterType="com.care.hotel.member.DTO.memberDTO">
	UPDATE member 
	SET memberNameKR=#{memberNameKR}, memberNameENG=#{memberNameENG}, memberBirth=#{memberBirth}, memberMobile=#{memberMobile}, memberPw=#{memberPw}, memberGender=#{memberGender}
	WHERE memberId=#{memberId}
	</update>
	<!-- memberExUpdate -->
	<update id="memberExUpdate" parameterType="com.care.hotel.member.DTO.memberExDTO">
	UPDATE member_extra
	SET memberZipcode=#{memberZipcode}, memberAddr1=#{memberAddr1}, memberAddr2=#{memberAddr2}, memberHomePhone=#{memberHomePhone}
	WHERE memberId=#{memberId}
	</update>
	<!-- memberDelete -->
	<delete id="memberDelete" parameterType="String">
	 DELETE FROM member WHERE memberId=#{memberId} 
	 </delete>
	
	<!-- 아이디 중복 확인 -->
	<select id="isExistId" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE memberId=#{memberId}
	</select>
	<!-- 이메일 중복 확인 -->
	<select id="isExistEmail" parameterType="String" resultType="int">
		SELECT count(*) FROM member WHERE memberEmail=#{memberEmail}
	</select>
	<!-- 아이디 찾기 -->
	<select id="memberIdFind" parameterType="String" resultType="com.care.hotel.member.DTO.memberDTO">
		SELECT * FROM member WHERE memberNameENG=#{memberNameENG} and memberEmail=#{memberEmail}
	</select>
</mapper>