<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.member.DAO.memberDAO">

	<!-- member 테이블 내 row 개수 -->
	<select id="memberCount" resultType="int">
		SELECT count(*) FROM member
		<choose>
				<when test="sel == 'memberId'">
					WHERE memberId like '%'||#{search}||'%'
				</when>
				<when test="sel == 'name'">
					WHERE nameKR like '%'||#{search}||'%'
				</when>
				<when test="sel == 'name'">
					WHERE nameENG like '%'||#{search}||'%'
				</when>
				<when test="sel == 'mobile'">
					WHERE mobile like '%'||#{search}||'%'
				</when>
				<when test="sel == 'email'">
					WHERE email like '%'||#{search}||'%'
				</when>
			</choose>
	</select>
	<!--  member 테이블 리스트 불러오기 -->
	<select id="memberList" resultType="com.care.hotel.member.DTO.memberDTO">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM( 
				SELECT * FROM member 
				<choose>
					<when test="sel == 'memberId'">
						WHERE memberId like '%'||#{search}||'%'
					</when>
					<when test="sel == 'name'">
						WHERE nameKR like '%'||#{search}||'%'
					</when>
					<when test="sel == 'name'">
						WHERE nameENG like '%'||#{search}||'%'
					</when>
					<when test="sel == 'mobile'">
						WHERE mobile like '%'||#{search}||'%'
					</when>
					<when test="sel == 'email'">
						WHERE email like '%'||#{search}||'%'
					</when>
				</choose>
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<!-- memberInfo -->
	<select id="memberInfo" resultType="com.care.hotel.member.DTO.memberDTO">
		SELECT * FROM member WHERE memberId=#{memberId}
	</select>
	
	<!-- memberExInfo -->
	<select id="memberExInfo" resultType="com.care.hotel.member.DTO.memberExDTO">
		SELECT * FROM member_extra WHERE memberId=#{memberId}
	</select>
	
	<!-- memberInsert -->
	<insert id="memberInsert" parameterType="com.care.hotel.member.DTO.memberDTO">
		INSERT INTO member VALUES(#{memberId}, #{nameKR}, #{nameENG}, #{birthday}, #{mobile}, #{email}, #{gender}, #{pw} ) 
	</insert>
	
	<!-- memberExInsert -->
	<insert id="memberExInsert" parameterType="com.care.hotel.member.DTO.memberExDTO">
		INSERT INTO member_extra VALUES(#{memberId}, #{zipcode}, #{addr1}, #{addr2}, #{homePhone} ) 
	</insert>
	
	<!-- memberUpdate -->
	<update id="memberUpdate" parameterType="com.care.hotel.member.DTO.memberDTO">
	UPDATE member 
	SET nameKR=#{nameKR}, nameENG=#{nameENG}, birthday=#{birthday}, mobile=#{mobile}, pw=#{pw}, gender=#{gender}
	WHERE memberId=#{memberId}
	</update>
	<!-- memberExUpdate -->
	<update id="memberExUpdate" parameterType="com.care.hotel.member.DTO.memberExDTO">
	UPDATE member_extra
	SET zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2}, homePhone=#{homePhone}
	WHERE memberId=#{memberId}
	</update>
	<!-- memberDelete -->
	<delete id="memberDelete" parameterType="String"> DELETE FROM member WHERE memberId=#{memberId} </delete>
</mapper>