<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.resourceDAO.IhotelDAO">


<!-- 호텔 테이블 내 row 개수  -->
	<select id="hotelCount" resultType="int">
		SELECT count(*) FROM hotel
		<choose>
			<when test="sel == 'id'">
				WHERE hotelid like '%'||#{search}||'%'
			</when>
			<when test="sel == 'email'">
				WHERE hotelemail like '%'||#{search}||'%'
			</when>
			<when test="sel == 'name'">
				WHERE hotelname like '%'||#{search}||'%'
			</when>
			<when test="sel == 'tel'">
				WHERE hotelphonenumber like '%'||#{search}||'%'
			</when>
		</choose>	
	</select>
<!-- 리스트 블러오기  -->
	<select id="hotelList" resultType="com.care.hotel.resourceDTO.hotelDTO">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM( 
				SELECT * FROM hotel 
				<choose>
					<when test="sel == 'id'">
						WHERE hotelid like '%'||#{search}||'%'
					</when>
					<when test="sel == 'email'">
						WHERE hotelemail like '%'||#{search}||'%'
					</when>
					<when test="sel == 'name'">
						WHERE hotelname like '%'||#{search}||'%'
					</when>
					<when test="sel == 'tel'">
						WHERE hotelphonenumber like '%'||#{search}||'%'
					</when>
				</choose>
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	<!-- 호텔 정보 불러오기  -->
	<select id="hotelInfo" resultType="com.care.hotel.resourceDTO.hotelDTO" parameterType="String">
		SELECT * FROM hotel WHERE hotelid = #{hotelId}	
	</select>
	<update id="updateHotel" parameterType="com.care.hotel.resourceDTO.hotelDTO">
		UPDATE hotel set hotelname=#{hotelName}, hotelpw=#{hotelPw}, hotelemail=#{hotelEmail}, hoteladdr1=#{hotelAddr1}, hoteladdr2=#{hotelAddr2}, hotelzipcode=#{hotelZipcode} WHERE hotelid=#{hotelId}
	</update>
	<delete id="hotelDelete" parameterType="String">
		DELETE FROM hotel WHERE hotelid=#{hotelId}
	</delete>
	
	<!-- 모든 호텔 정보 불러오기 -->
	<select id="allHotelInfo" resultType="com.care.hotel.resourceDTO.hotelDTO">
		SELECT * FROM hotel
	</select>

</mapper>