@charset "UTF-8";

.ctnMypage.ctnMypageRsv .boxRoomPack .hTit .titCncl{ background:url(../../images/ko/common/mypage/myRsvTit2.gif) no-repeat; width:200px; height:30px; line-height:100px; overflow:hidden;}
