@charset "UTF-8";

.admin_mainDiv {margin:auto; width: 1000px; height: 500px; margin-bottom: 20px; margin-top: 20px;}

.admin_commonBtn {background-color: #f1e3c4; border:0; outline:0; height: 30px;}
.admin_commonBtnG {background-color: #d3d4d4; border:0; outline:0; height: 30px; color:#fbfcfc;}
.admin_commonBtnB {background-color: #856f57; border:0; outline:0; height: 30px; color: white;}
.admin_commonBtnD {background-color:  #3a3125; border:0; outline:0; height: 40px; color: white;}
