@charset "UTF-8";

.admin_memberInfoTopLeft {float: left; padding-left: 50px; margin-bottom: 20px; font-size: 25px;} 
.admin_memberInfoTopRight {text-align: right; padding-right: 50px;}

.admin_memberInfoTableDiv {clear: left;}
.admin_memberInfoTable {width: 900px; height:500px; margin: auto; color:#907a61;}
.admin_memberInfoTable th {text-align: left; width: 70px;}
.admin_memberInfoTable td {background-color: #fef7f0; border: none; text-align: center;}