<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.Reservation.DAO.AD_reservationDAO">

	<!-- 예약 테이블 내 row 개수 -->
	<select id="reservationCount" resultType="int">
		SELECT count(*) FROM reservation
		<where>
			<if test='hotelId != null and hotelId != ""'>hotelId=#{hotelId}</if>
			<!-- dateBase == reservationDate -->
			<if test="dateBase =='reservationDate'">AND reservationDate BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')</if>
			<!-- dateBase == checkinDate -->
			<if test="dateBase == 'checkinDate'">AND checkinDate BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')</if>
			<if test='reservationNo != null and reservationNo != ""'>AND reservationNo like '%'||#{reservationNo}||'%'</if>
		</where>
	</select>
	
	<!-- 예약 리스트 -->
	<select id="resList" resultType="com.care.hotel.Reservation.DTO.reservationDTO">
		SELECT B.* FROM(
			SELECT rownum rn, A.* FROM( 
				SELECT * FROM reservation 
				<where>
					<if test='hotelId != null and hotelId != ""'>hotelId=#{hotelId}</if>
					<!-- dateBase == reservationDate -->
					<if test="dateBase =='reservationDate'">AND reservationDate BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')</if>
					<!-- dateBase == checkinDate -->
					<if test="dateBase == 'checkinDate'">AND checkinDate BETWEEN to_date(#{startDate},'YYYY-MM-DD') AND to_date(#{endDate},'YYYY-MM-DD')</if>
					<if test='reservationNo != null and reservationNo != ""'>AND reservationNo like '%'||#{reservationNo}||'%'</if>
				</where>
				ORDER BY reservationDate DESC, checkinDate ASC
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<!-- reservation 테이블 불러오기 -->
	<select id="reservationInfo" resultType="com.care.hotel.Reservation.DTO.reservationDTO">
		SELECT * FROM reservation WHERE reservationNo = #{reservationNo}
	</select>
	
	<!-- reservationEx 테이블 불러오기 -->
	<select id="reservationExInfo" resultType="com.care.hotel.Reservation.DTO.reservationExDTO">
		SELECT * FROM reservation_extra WHERE reservationNo = #{reservationNo}
	</select>
	
	<!-- reservationUpdate -->
	<update id="reservationUpdate" parameterType="com.care.hotel.Reservation.DTO.reservationDTO">
		UPDATE reservation
		SET breakfastCheck = #{breakfastCheck}
		WHERE reservationNo = #{reservationNo}
	</update>
	
	<!-- reservationDelete -->
	<update id="reservationDelete" parameterType="com.care.hotel.Reservation.DTO.reservationDTO">
		UPDATE reservation
		SET reservationStatus = #{reservationStatus}, cancelDate = to_date(#{cancelDate},'YYYY-MM-DD')
		WHERE reservationNo = #{reservationNo}
	</update>
	
	<!-- resStatusCheckin -->
	<update id="resStatusCheckin" parameterType="com.care.hotel.Reservation.DTO.reservationDTO">
		UPDATE reservation
		SET reservationStatus = #{reservationStatus}
		WHERE reservationNo = #{reservationNo}
	</update>
	

</mapper>