<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.Reservation.DAO.reservationDAO">

	<!-- reservation 테이블 내 memberId의 StartDate~EndDate 간의 row 개수 -->
	<select id="reservationCount" resultType="int">
		SELECT count(*) FROM reservation 
		<choose>
			<when test="select == '예약일'">
				WHERE (reservationDate BETWEEN to_date(#{startDt},'YYYY-MM-DD') AND to_date(#{endDt},'YYYY-MM-DD')) AND memberId = #{memberId}
			</when>
			<when test="select == '투숙일'">
				WHERE (checkinDate BETWEEN to_date(#{startDt},'YYYY-MM-DD') AND to_date(#{endDt},'YYYY-MM-DD')) AND memberId = #{memberId}
			</when>
			<otherwise>
				WHERE memberId = '####'
			</otherwise>
		</choose>
	</select>

	<!--  reservation 테이블 리스트 불러오기 -->
	<select id="reservationList" resultType="com.care.hotel.Reservation.DTO.reservationHotelDTO">
		SELECT D.* FROM(
			SELECT rownum rn, C.* FROM( 
				SELECT B.*, (SELECT A.hotelName FROM hotel A WHERE A.hotelId = B.hotelId) AS hotelName
				FROM reservation B
				<choose>
					<when test="select == '예약일'">
						WHERE (reservationDate BETWEEN to_date(#{startDt},'YYYY-MM-DD') AND to_date(#{endDt},'YYYY-MM-DD')) AND memberId = #{memberId}
					</when>
					<when test="select == '투숙일'">
						WHERE (checkinDate BETWEEN  to_date(#{startDt},'YYYY-MM-DD') AND to_date(#{endDt},'YYYY-MM-DD')) AND memberId = #{memberId}
					</when>
				</choose>
			)C
		)D WHERE rn BETWEEN #{b} and #{e}
	</select>
	
	<update id="reservationCancel" parameterType="String">
		UPDATE reservation 
		SET reservationStatus='9', cancelDate = to_date(#{cancelDate},'YYYY-MM-DD')
		WHERE reservationNo=#{resvNo}
	</update>
</mapper>