<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.payment.DAO.paymentDAO">

<!-- 결제 테이블 내 row 개수 -->
<select id="paymentCount" resultType="int">
	SELECT count(*) FROM payment
	<where>
		<if test='hotelId != null and hotelId != ""'>hotelId=#{hotelId}</if>
		<if test='startDate != "" and startDate != null and endDate != "" and endDate != null'>AND paymentDate BETWEEN #{startDate} AND #{endDate}</if>
		<if test="paymentType != null and paymentType != ''">AND paymentType=#{paymentType}</if>
		<if test="paymentStatus != null and paymentStatus != ''">AND paymentStatus=#{paymentStatus}</if>
		<if test='memberId != null and memberId != ""'>AND memberId like '%'||#{memberId}||'%'</if>
	</where>
</select>

<!-- paymentList -->
<select id="paymentList" resultType="com.care.hotel.payment.DTO.paymentDTO">
	SELECT B.* FROM(
		SELECT rownum rn, A.* FROM( 
			SELECT * FROM payment
		<where>
			<if test='hotelId != null and hotelId != ""'>hotelId=#{hotelId}</if>
			<if test='startDate != "" and startDate != null and endDate != "" and endDate != null'>AND paymentDate BETWEEN #{startDate} AND #{endDate}</if>
			<if test="paymentType != null and paymentType != ''">AND paymentType=#{paymentType}</if>
			<if test="paymentStatus != null and paymentStatus != ''">AND paymentStatus=#{paymentStatus}</if>
			<if test='memberId != null and memberId != ""'>AND memberId like '%'||#{memberId}||'%'</if>
		</where>
		ORDER BY paymentDate DESC, paymentNo DESC
			)A
		)B WHERE rn BETWEEN #{b} and #{e}
		
</select>

<!-- getTotalAmount -->
<select id="getTotalAmount" resultType="Integer">
	SELECT sum(paymentAmount) FROM payment
</select>
<!-- getHotelTotalAmount -->
<select id="getHotelTotalAmount" resultType="Integer">
	SELECT sum(paymentAmount) FROM payment WHERE hotelId=#{hotelId}
</select>
<!-- getfilterAmount -->
<select id="getfilterAmount" resultType="Integer">
	SELECT sum(paymentAmount) FROM payment
	<where>
		<if test='hotelId != null and hotelId != ""'>hotelId=#{hotelId}</if>
		<if test='startDate != "" and startDate != null and endDate != "" and endDate != null'>AND paymentDate BETWEEN #{startDate} AND #{endDate}</if>
		<if test="paymentType != null and paymentType != ''">AND paymentType=#{paymentType}</if>
		<if test="paymentStatus != null and paymentStatus != ''">AND paymentStatus=#{paymentStatus}</if>
		<if test='memberId != null and memberId != ""'>AND memberId like '%'||#{memberId}||'%'</if>
	</where>
</select>

<!-- insertPayment -->
<insert id="insertPayment" parameterType="com.care.hotel.payment.DTO.paymentDTO">
	INSERT INTO payment(paymentNo, reservationNo, memberId, hotelId, paymentDate, paymentType, paymentAmount, paymentStatus, cardId)
	VALUES(#{paymentNo}, #{reservationNo}, #{memberId}, #{hotelId}, #{paymentDate}, #{paymentType}, #{paymentAmount}, #{paymentStatus}, #{cardId})
</insert>

<!-- paymentInfo -->
<select id="paymentInfo" resultType="com.care.hotel.payment.DTO.paymentDTO">
	SELECT * FROM payment WHERE paymentNo=#{paymentNo}
</select>

<!-- payStatus -->
<update id="payStatus" parameterType="com.care.hotel.payment.DTO.paymentDTO">
	UPDATE payment
	SET paymentStatus = #{paymentStatus}
	WHERE paymentNo = #{paymentNo}
</update>

<!-- insertCanclePayment -->
<insert id="insertCanclePayment" parameterType="com.care.hotel.payment.DTO.paymentDTO">
	INSERT INTO payment(paymentNo, reservationNo, memberId, hotelId, paymentDate, paymentType, paymentAmount, referencePaymentNo, paymentStatus, cardId)
	VALUES(#{paymentNo}, #{reservationNo}, #{memberId}, #{hotelId}, #{paymentDate}, #{paymentType}, #{paymentAmount}, #{referencePaymentNo}, #{paymentStatus}, #{cardId})
</insert>

<!-- getyearRevenue 금년 매출 -->
	<select id="getyearRevenue" resultType="Long">
		SELECT sum(paymentAmount) FROM payment WHERE hotelId=#{hotelId} AND paymentDate = to_date(#{paymentDate},'YYYY')
	</select>



</mapper>