<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.hotel.payment.DAO.paymentDAO">

<!-- insertPayment -->
<insert id="insertPayment" parameterType="com.care.hotel.payment.DTO.paymentDTO">
	INSERT INTO payment(paymentNo, reservationNo, memberId, paymentDate, paymentType, paymentAmount, paymentStatus)
	VALUES(#{paymentNo}, #{reservationNo}, #{memberId}, #{paymentDate}, #{paymentType}, #{paymentAmount}, #{paymentStatus})
</insert>

</mapper>